<% provide(:title, "Home") %>
<h1>Kevin's Site</h1>

<h2>About</h2>

<p>
Hello. I'm currently an student at UChicago, working on a masters degree in physics. In a previous life I worked in tech, at Genius, Twitter, and Apple. You can read more about my professional life on <a href="https://www.linkedin.com/in/kevinullmann">Linked In</a>. I studied Computer Science at Cornell, I love dogs, and I have been known to pilot a paraglider named Daisy.</p>

<p>
This website is my personal playground for learning about web development, and hopefully it will someday contain links to my acadamic papers. For now, there's not much to see here ¯\_(ツ)_/¯
</p>

<p>
Don't forget to follow me on Twitter <%= link_to "@kevosauce", "https://www.twitter.com/kevosauce" %>. I mostly tweet about politics, science, and religion, with the occassional cute animal pic RT.
</p>

<h2>Misc. Fun Stuff</h2>

<p>
In hopes of learning a bit of Javascript, I implemented cellular automata <%= link_to "Rule 110", "/static_pages/automata" %> (insipired by <%= link_to "James Somers", "http://jsomers.net/blog/110"%>)
</p>

<p>
Here's a fun unpublished paper that I wrote in college about functional programming.
</p> 

