<% provide(:title, "Nothing") %>

<h2>Nothing</h2>
<p>
I vividly remember discovering<br>
Nothing.<br>
<br>
I lay in my dark room, the weight of the duvet <br>
Securing me in this world, as I fought<br>
With nothing<br>
<br>
I was frightened by the vastness of it<br>
The strangeness<br>
The absurdity of being<br>
<br>
My child mind struggled to hold on to the idea<br>
But nothing<br>
Is a slippery, maddening beast<br>
Elusive<br>
<br>
Nothing quickly dissolves into emptiness<br>
Which of course<br>
Is not the same thing<br>
As nothing.<br>
<br>
Horrified<br>
Mystified<br>
Changed forever<br>
I finally succumbed and drifted fitfully into sleep.<br>
Into nothing.<br>
</p>

